{:lein   true
 :builds       {:test {:target    :esm
                       :output-dir "__tests__"
                       :modules {:cljs-tests {:exports {testCljs tests/test-all}}}
                       :js-options {:js-provider :import}
                       :compiler-options {:warnings {:redef false
                                                     :fn-deprecated false}
                    			  :optimizations :advanced
                    			  :warnings-as-errors true} 
                       :runtime :custom   
                       :autorun   true}}}
